body {
  font-family: 'Lucide Grande', sans-serif;
  font-size: 1.2rem;
}

h2, a {
  color: #6574c3;
}

a:hover {
  color: #f3829e;
}

hr {
  height: 1px !important;
  background-color: #f3829e;
  border: none;
}